.full-modal.ant-modal {
  top: 8%;

  .ant-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ant-modal-body {
    flex: 1;
    overflow: auto;

    > .react-form {
      height: 100%;

      > span {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}